{% extends 'base.html.twig' %}

{% block title %}Hello PhoneController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <p>Phone number {{ phone.number }}! ✅</p>
    <p>Phone type {{ phone.type }}! ✅</p>
    <p>Contact id {{ phone.idContact }}! ✅</p>
</div>
{% endblock %}
